{% extends "data/base.html" %}

{% block title %}Death Valley Dogs{% endblock %}
{% block content %}
<div class="dogCubeContainer">
{% for dog in dog_list %}
  <div class="dogCube">
    <div class="dogImages">

      <a href="/info/dogs/{{ dog.id }}/"><img src=""></img></a>

      <div>
        <div class="dogPrint">
            {% if dog.family == "Hominid" %}
            boot img
            {% else %}
            paws img
            {% endif %}
        </div>
      </div>
    </div>
    <div class="dogName">
      <a href="/info/dogs/{{ dog.id }}">{{ dog.name }}</a>
    </div>
  </div>
{% endfor %}
</div>
<div style="clear:both;"></div>
{% endblock %}