{% extends "data/base.html" %}

{% block title %}Death Valley Dogs{% endblock %}
{% block content %}
<div class="dogCubeContainer">
{% for dog in dog_list %}
  <div class="dogCube">
    <div class="dogImages">

      <%= link_to image_tag(dog.photo.url(:thumb), :class => "dogThumb"), dog %>

      <div>
        <div class="dogPrint">
          <%= dog.family == "Hominid" ? boots_icon_white("centeredPrint") : paws_icon_white("centeredPrint") %>
        </div>
      </div>
    </div>
    <div class="dogName">
      {{ dog.name }}
    </div>
  </div>
{% endfor %}
</div>
<div style="clear:both;"></div>
{% endblock %}