{% extends "data/base.html" %}

{% block title %}Death Valley Dogs{% endblock %}
{% block content %}
<table>
{% for trip in trip_list %}
  <tr>
    <td>
		<div class="roundedTitleArea">
			<a href="/info/trips/{{ trip.id }}/">{{trip.date }} - {{ trip.name}}</a>

		</div>
		<div class="roundedTextArea"><div class="roundedTextAreaHeightFixer"></div>
	      <table><tr>
		<td class="hikeListForTripList">
	          {% for hike in trip.hike_set.all %}
				<li><a href="/info/hikes/{{ hike.id }}">{{ hike.name }}</a></li>
	          {% endfor %}  
			<div class="clear"></div>
		</td>
		</tr></table>
		</div>   

	</td>
    <td>
    </td>
  </tr>
{% endfor %}
</table>
</body>
{% endblock %}