
{% for writeup in writeups %}


<p>
<div class="writeup_list_item">
    <div class = "writeup_list_image">
        {% if writeup.photo %}
          <img></img>
        {% else %}
          img goes here
        {% endif %}
    </div>
    <div class = "writeup_list_text_box">
      <div class="roundedTitleArea">
        {{ writeup.name }} - {{ writeup.trip }}<br>
        by {{ writeup.dog.name }}
      </div>
      <div class="roundedTextArea"><div class="roundedTextAreaHeightFixer"></div>
      {% if writeup.short_desc %}
        {{ writeup.short_desc }}
      {% endif %}   
		<div class="clear"></div>
      </div>   
    </div>
</div>
</p>

{% endfor %}

