{% extends "base.html" %}

{% block title %}{{ dog }}{% endblock %}
{% block content %}
<h1>{{ dog }}</h1>
<div id="dog_detail" class="detail_page">
    <div class="dog_personal_info">
        <ul>
            <li><div class="label">Age: </div><div class="pers_value">{{ age }}</div></li>
            <li><div class="label">Ham: </div><div class="pers_value">{{ dog.ham }}</div></li>
        </ul>
    </div>
    <div class="rig_list">
        <p>Rigs:</p>
            <ul>
            {% for rig in dog.rig_set.all %}
                <li><a href="/rigs/{{ rig.id }}">{{ rig.name }}</a></li>
            {% endfor %}
            </ul>
    </div>
    <div class="trip_list">
        <p>Trips:</p>
            <ul>
            {% for trip in dog.trip_set.all %}
                <li><a href="/trips/{{ trip.id }}">{{ trip.name }}</a></li>
            {% endfor %}
            </ul>
    </div>
    <div class="hike_list">
        <p>Hikes:</p>
            <ul>
            {% for hike in dog.hike_set.all %}
                <li><a href="/hikes/{{ hike.id }}">{{ hike.name }}</a></li>
            {% endfor %}
            </ul>
    </div>


</div>
{% endblock %}

