{% extends "base.html" %}

{% block title %}{{ rig }}{% endblock %}
{% block content %}
<h1>{{ rig }}</h1>
<div id="rig_detail" class="detail_page">
    <div class="rig_personal_info">
        <ul>
            <li><div class="label">Owner: </div><div class="pers_value"><a href="/dogs/{{ rig.dog.id }}">{{ rig.dog }}</a></div></li>
            <li><div class="label">Year: </div><div class="pers_value">{{ rig.year }}</div></li>
            <li><div class="label">Make: </div><div class="pers_value">{{ rig.make }}</div></li>
            <li><div class="label">Model: </div><div class="pers_value">{{ rig.model }}</div></li>
        </ul>
    </div>
    <div class="trip_list">
        <p>Trips:</p>
            <ul>
            {% for trip in rig.trip_set.all %}
                <li><a href="/trips/{{ trip.id }}">{{ trip.name }}</a></li>
            {% endfor %}
            </ul>
    </div>
</div>
{% endblock %}

