{% extends "base.html" %}

{% block title %}{{ trip }}{% endblock %}
{% block content %}
<h1>{{ trip }}</h1>
<div class="detail_page">
<div class="trip_date">{{ trip.date }}</div>
<div id="trip_detail" >
    <div class="dog_list">
        <p>Dogs:</p>
            <ul>
            {% for dog in trip.dogs.all %}
                <li><a href="/dogs/{{ dog.id }}">{{ dog.name }}</a></li>
            {% endfor %}
            </ul>
    </div>
    <div class="rig_list">
        <p>Rigs:</p>
            <ul>
            {% for rig in trip.rigs.all %}
                <li><a href="/rigs/{{ rig.id }}">{{ rig.name }}</a></li>
            {% endfor %}
            </ul>
    </div>
    <div class="hike_list">
        <p>Hikes:</p>
            <ul>
            {% for hike in trip.hike_set.all %}
                <li><a href="/hikes/{{ hike.id }}">{{ hike.name }}</a></li>
            {% endfor %}
            </ul>
    </div>
    <div class="writeup_list">
        <p>Writeups:</p>
        {% include "writeup_box.html" with writeups=trip.writeup_set.all %}
    </div>
    <div class="weather">
    </div>
    <div class="map">
        <p>Map:</p>
        <INPUT TYPE="button" value="Open in Google Earth" onClick="location.href=getMapKml('trips', <%= @trip.id %>)">
        <div id="map_canvas"></div>

        <script language="javascript" type="text/javascript">
          $("#map_canvas").load(initialize_map('trips', {{ trip.id }}));
        </script>
    </div>

</div>
</div>
{% endblock %}
